body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 20px;
  grid-template-areas: "navbar navbar"
                       "main aside";
                       
}
ul{
    list-style-type: none;
}

#navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  /* display: flex; */
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.main-section {
  grid-area: main
  
}

.aside-section {
  grid-area: aside
}

.img-thumbnail{
    width: 300px;
    margin: 0;
}
.img-thumbnail img{
    width: 100%;
    height: auto;
    
}

.side-list-item{
    display: flex;
    margin-bottom: 15px;
}
.side-list-item-info{
    
}
.side-list{
    padding: 0;
    margin: 0;
}
.side-list h4, .side-list p{
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}
.channel-name{
    color: silver;
    font-size: 12px;
}
.side-title{

/* color: gray; */
font-size: 15px;
}
