body {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 33%;
  grid-column-gap: 5px;
  grid-template-areas: "navbar navbar"
                       "main aside";
                       
}
ul{
    list-style-type: none;
}

#navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  box-shadow: 0 -30px 50px 10px black;

}

.navbar ul {
  /* display: flex; */
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.main-section {
  grid-area: main;
  padding: 0 10px;
  
  
}

.aside-section {
  grid-area: aside;
  padding: 0 10px;
  
}

.img-thumbnail{
    width: 300px;
    margin: 0;
}
.img-thumbnail img{
    width: 100%;
    height: auto;
    
}

.side-list-item{
    display: flex;
    margin-bottom: 15px;
}
.side-list-item-info{
    
}
.side-list{
    padding: 0;
    margin: 0;
}
.side-list h4, .side-list p{
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}
.channel-name{
    color: silver;
    font-size: 12px;
}
.side-title{

/* color: gray; */
font-size: 15px;
}

.video-info-top{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.video-description{
    padding: 0 10px;
    margin-top: -5px;
    color: grey;
    font-size: 16px;
}
.search{
    display: flex;
    justify-content:center;
    flex: 1;

}
.search input{
width: 50%;
height: 25px;
padding-left: 15px;
font-size: 15px;

}
.btn{

background-color:whitesmoke;
color: grey;
height: 31px;
padding: 0 20px;
outline: none;
}
.youtube-icon{
    color: red;
    /* font-size: 1.5em; */
    margin-right: 5px;
}
.left li{
display: flex;
align-items: center;
font-size: 20px;
}

.right li{
    display: flex;
    align-items: center;
    font-size: 20px;
    }
    

/* .icon{
    font
} */